#clear{
    width:350px;
  }
  .formstyle{
    width:400px;
    height:600px;
    margin: auto;
    border: 2px solid black;
    padding:2rem;
    background-color: rgb(124, 121, 121);
    margin-top: 1rem;
  }

  input{
    width:100px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(45, 193, 193);
    font-size:x-large;
  }

  #answerstyle{
    width: 320px;
    background-color: antiquewhite;
    font-weight: 500;
  }


  @media screen and (max-width: 767px) {

    .formstyle{
        width: 150px;
        border: 2px solid black;
        padding: 1rem;
        margin-top:3rem;
        height: 500px;
    }

    input{
       width: 35px;
       font-size: medium;
       padding: 10px;
       margin: 5px;
       background-color: rgb(231, 155, 187);
    }

    #answerstyle{
        width: 120px;
        background-color: rgb(185, 182, 222);
        font-weight: 500;
    }

    #clear{
        width: 140px;
        background-color: rgb(81, 120, 193);
        font-weight: 700;
        font-size: larger;
    }
  }
